# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=#PUT_SANITY_PROJECT_ID
NEXT_PUBLIC_SANITY_DATASET=#PUT_SANITY_DATASET

# Resend (Email Service)
RESEND_API_KEY=#PUT_RE_API_KEY
EMAIL_ADDRESS=#PUT_EMAIL_ADDRESS

# kakaomap (Location)
NEXT_PUBLIC_KAKAO_MAP_API_KEY=#PUT_KAKAO_MAP_API_KEY
